
<div class="bg-purple">
<div class="container-fluid">
    <div class="row">
      <div class="text-center mt-5">
        <h1 class="text-white font-normal">Identify technologies on websites</h1>
        <h6 class="text-white fw-medium mt-4">Find out the technology stack of any website. Create lists of websites that
          use certain<br> technologies, with company and contact details. Use our tools for lead generation, market<br>
          analysis and competitor research.</h6>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-4 mb-6">
        <div class="input-group mb-3 w-50 mt-1">
          <input type="text" class="form-control p-2 text-secondary small"
            placeholder="Website Url , technology , Keyword or email address" aria-label="Search"
            aria-describedby="search-icon">
          <span class="input-group-text" id="search-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
<div class="container">
  <div class="row">
    <h2 class="fw-normal text-center mt-7 items">Empower your sales and marketing teams</h2>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/1.jpg" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Website profiling</h6>
        <p class="fw-normal text-gray-500 small">Find out what websites are built with.</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6">
      <div class="mt-4">
        <img src="../assets/screen2.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Lead generation</h6>
        <p class="fw-normal text-gray-500 small">Find prospects by the technologies they use</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/2.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Market research</h6>
        <p class="fw-normal text-gray-500 small">Compare market shares and technology trends.</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/3s.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Competitor analysis</h6>
        <p class="fw-normal text-gray-500 small">Discover who uses competitors' software.</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/s4.PNG" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Data enrichment</h6>
        <p class="fw-normal text-gray-500 small">Technology, company and contact information.
        </p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/scren5.jpg" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Custom reports</h6>
        <p class="fw-normal text-gray-500 small">Create lists of websites and contacts.</p>
      </div>
    </div>

    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/screen7.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Website profiling</h6>
        <p class="fw-normal text-gray-500 small">Find out what websites are built with.</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/scren8.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Lead generation</h6>
        <p class="fw-normal text-gray-500 small">Find prospects by the technologies they use</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/screen9.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Market research</h6>
        <p class="fw-normal text-gray-500 small">Compare market shares and technology trends.</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/scren9.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Competitor analysis</h6>
        <p class="fw-normal text-gray-500 small">Discover who uses competitors' software.</p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/screns11.jpg" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Data enrichment</h6>
        <p class="fw-normal text-gray-500 small">Technology, company and contact information.
        </p>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div class="mt-4">
        <img src="../assets/scrrens12.png" alt="" class="image-1 w-3rem h-3rem">
        <h6 class="mt-2 text-blue-700">Custom reports</h6>
        <p class="fw-normal text-gray-500 small">Create lists of websites and contacts.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 mt-5">
      <div class="d-flex flex-row">
        <img src="../assets/season-3-icom.png" alt="" class="w-2rem h-2rem">
        <p class="mx-2 fw-medium mt-1 small">TECHNOLOGY LOOKUP</p>
      </div>
      <div class="mt-2">
        <h4 class="fw-semibold">Find out what websites are built with</h4>
        <h6 class="fw-medium text-secondary tech mt-3">Instantly reveal the technology stack of any website, such as
          CMS, ecommerce
          platform
          or payment processor, as well as company and contact details.</h6>
      </div>

      <div class="mb-4 mt-4">
        <button class="btn me-2 px-3 bg-purple p-2 fw-medium text-white">
          Look up a website <i class="fas fa-globe mx-2"></i>
        </button>
        <button class="btn bg-gray-300 purple me-2 fw-medium p-2 px-3 mx-2">
          Upload a list <i class="fa fa-file mx-2 fw-normal" aria-hidden="true"></i>
        </button>
        <button class="btn purple bg-gray-300 p-2 px-3 mx-2">
          API <i class="fa fa-folder mx-1 fw-normal" aria-hidden="true"></i>
        </button>
      </div>
      <div>
        <p class="fw-bold tech small mx-2 text-gray-700">HIGHLIGHTS</p>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Instant results</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">50 Free monthly lookups</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Perform up to 100,000 lookups at once</span>
        </div>
      </div>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 mt-3">
      <img src="../assets/s2.PNG" alt="" class="w-23rem h-23rem images">
    </div>
  </div>
</div>

<hr class="mx-7 mt-7">


<div class="container">
  <div class="row">
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 mt-3">
      <img src="../assets/s4.jpg" alt="" class="w-23rem h-23rem images">
    </div>
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 mt-5">
      <div class="d-flex flex-row">
        <i class="fa-solid fa-bars mt-2 purple"></i>
        <p class="mx-2 fw-medium mt-1 small">LEAD LISTS</p>
      </div>
      <div class="mt-2">
        <h4 class="fw-semibold">Create lists of websites and contacts</h4>
        <h6 class="fw-medium text-secondary tech mt-3">Find prospects by the technologies they use. Lead lists contain
          websites, company and contact details, social media profiles and more. Create and export custom reports for
          any web technology or keyword based on industry, website traffic and location</h6>
      </div>

      <div class="mb-4 mt-4">
        <button class="btn text-white bg-purple me-2 fw-medium p-2 px-3 mx-2">
          Create a list <i class="fa fa-file mx-2 fw-normal" aria-hidden="true"></i>
        </button>
      </div>
      <div>
        <p class="fw-bold tech small mx-2 text-gray-700">HIGHLIGHTS</p>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Millions of companies tracked globally</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Organic data with traffic markers</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2"> Fresh and accurate data</span>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="mx-7 mt-7">


<div class="container">
  <div class="row">
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 mt-5">
      <div class="d-flex flex-row">
        <i class="fa fa-bell purple mt-2 fw-medium" aria-hidden="true"></i>
        <p class="mx-2 fw-medium mt-1 small"> WEBSITE ALERTS</p>
      </div>
      <div class="mt-2">
        <h4 class="fw-bold">Monitor your competitors' websites</h4>
        <h6 class="fw-medium text-secondary tech mt-3">Get notified when a website's technology stack changes. Be the
          first to know when a competitor moves to a new CMS, ecommerce platform or any other technology.</h6>
      </div>

      <div class="mb-4 mt-4">
        <button class="btn text-white bg-purple me-2 fw-medium p-2 px-3 mx-2">
          Create an alert <i class="fa fa-bell mx-2" aria-hidden="true"></i>
        </button>
      </div>
      <div>
        <p class="fw-bold tech small mx-2 text-gray-700">HIGHLIGHTS</p>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Same-day notifications</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Create up to 500 alerts</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Get 5 alerts free</span>
        </div>
      </div>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 mt-3">
      <img src="../assets/s5.PNG" alt="" class="w-23rem h-18rem images">
    </div>
  </div>
</div>


<hr class="mx-7 mt-7">
<div class="container">
  <div class="row">
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 mt-5">
      <img src="../assets/s6.PNG" alt="" class="w-23rem h-23rem images">
    </div>
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 mt-5">
      <div class="d-flex flex-row">
        <i class="fa-solid fa-bars mt-2 purple"></i>
        <p class="mx-2 fw-bold mt-1 small tech">APIS</p>
      </div>
      <div class="mt-2">
        <h4 class="fw-bold">Automate technology lookups</h4>
        <h6 class="fw-medium text-secondary tech mt-3">The Wappalyzer APIs provide instant access to website technology
          stacks, company and contact details, social media profiles, email verification and more. Track your prospects'
          technology choices, examine large numbers of websites or enrich your own datasets with technographic insights.
        </h6>
      </div>

      <div class="mb-4 mt-4">
        <button class="btn text-white bg-purple me-2 fw-medium p-2 px-3 mx-2">
          Compare APIs <i class="fa fa-folder mx-2 fw-normal" aria-hidden="true"></i>
        </button>
        <button class="btn purple bg-gray-300 p-2 px-3 mx-2 fw-medium">
          API refrence <i class="fa-solid fa-book-open mx-1"></i>
        </button>
      </div>
      <div>
        <p class="fw-bold tech small mx-2 text-gray-700">HIGHLIGHTS</p>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Split-second results</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Analyse websites in real-time</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Free trial</span>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="mx-7 mt-7">



<div class="container">
  <div class="row">
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 mt-5">
      <div class="d-flex flex-row">
        <i class="fa-solid fa-envelope-circle-check purple mt-2" aria-hidden="true"></i>
        <p class="mx-2 fw-medium mt-1 small">EMAIL VERIFICATION</p>
      </div>
      <div class="mt-2">
        <h4 class="fw-bold">Prevent bounced emails</h4>
        <h6 class="fw-medium text-secondary tech mt-3">Verify email addresses to prevent bounces, spam reports and fake
          website sign-ups. We run a number of live checks for mail server connectivity, inbox availability and more,
          without sending an email to the address.</h6>
      </div>

      <div class="mb-4 mt-4">
        <button class="btn me-2 px-3 bg-purple p-2 fw-medium text-white">
          Verify an address <i class="fa-solid fa-envelope-circle-check mx-2"></i>
        </button>
        <button class="btn bg-gray-300 purple me-2 fw-medium p-2 px-3 mx-2">
          Upload a list <i class="fa fa-file mx-2 fw-normal" aria-hidden="true"></i>
        </button>
        <button class="btn purple bg-gray-300 p-2 px-3 mx-2 fw-medium">
          API <i class="fa fa-folder fw-normal"></i>
        </button>
      </div>
      <div>
        <p class="fw-bold tech small mx-2 text-gray-700">HIGHLIGHTS</p>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">nstant results</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">50 Free monthly verifications</span>
        </div>
        <div class="highlight-item">
          <i class="fas fa-check mx-2 text-success"></i>
          <span class="text-gray-400 small tech mx-2">Perform up to 10,000 verifications at once</span>
        </div>
      </div>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 mt-3">
      <img src="../assets/s10.PNG" alt="" class="w-23rem h-18rem images">
    </div>
  </div>
</div>

<hr class="mt-7">

<div class="container">
  <div class="row">
    <h5 class="fw-bold mt-5">Apps</h5>
    <p class="tech fw-medium">Wappalyzer works with the tools you use every day.</p>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-4">
      <div>
        <img src="../assets/browser-by.webp" alt="" class="h-3rem w-4rem mt-1">
        <h4 class="fw-bold mt-3 text-gray-800">Chrome</h4>
        <p class="tech fw-medium small text-secondary">See the technologies of websites you visit in your browser.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-4">
      <div>
        <img src="../assets/Firefox_logo,_2019.svg.webp" alt="" class="h-3rem w-2rem bg-light">
        <h4 class="fw-bold mt-2 text-gray-800 mt-3">Firefox</h4>
        <p class="tech fw-medium small text-secondary">See the technologies of websites you visit in your browser.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-4">
      <div>
        <img src="../assets/1642753086207.jpg" alt="" class="h-3rem w-3rem">
        <h4 class="fw-bold mt-3 text-gray-800">Edge</h4>
        <p class="tech fw-medium small text-secondary">See the technologies of websites you visit in your browser.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-4">
      <div>
        <img src="../assets/../assets/s13.jpg" alt="" class="h-3rem w-3rem">
        <h4 class="fw-bold mt-3 text-gray-800">Safari</h4>
        <p class="tech fw-medium small text-secondary">See the technologies of websites you visit in your browser.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/salesforce-logo-2x.png" alt="" class="h-2rem w-3rem">
        <h4 class="fw-bold mt-3 text-gray-800">Salesforce</h4>
        <p class="tech fw-medium small text-secondary">See the technology stacks of your leads in your CRM.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/sticky-logo.png" alt="" class="h-2rem w-2rem">
        <h4 class="fw-bold mt-3 text-gray-800">HubSpot</h4>
        <p class="tech fw-medium small text-secondary">See the technology stacks of your leads in your CRM.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/pipedrive.jpg" alt="" class="images-pipe rounded-circle">
        <h4 class="fw-bold mt-3 text-gray-800">Pipedrive</h4>
        <p class="tech fw-medium small text-secondary">See the technologies of websites you visit in your browser.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/semrush-1.png" alt="" class="images-pipes">
        <h4 class="fw-bold mt-3 text-gray-800">Semrush</h4>
        <p class="tech fw-medium small text-secondary">See the technology stacks of your leads in your CRM.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/pabbly.png" alt="" class="images-pipe rounded-circle">
        <h4 class="fw-bold mt-3 text-gray-800">Pabbly</h4>
        <p class="tech fw-medium small text-secondary">Connect Wappalyzer to the apps you use, no code required.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/zapier.webp" alt="" class="images-pipe rounded-circle">
        <h4 class="fw-bold mt-3 text-gray-800">Zapier</h4>
        <p class="tech fw-medium small text-secondary">Connect Wappalyzer to the apps you use, no code required.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/make.jpeg" alt="" class="images-make rounded-circle">
        <h4 class="fw-bold mt-2 text-gray-800">Make</h4>
        <p class="tech fw-medium small text-secondary">Connect Wappalyzer to the apps you use, no code required.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/images (5).jpg" alt="" class="mail mx-0">
        <h4 class="fw-bold mt-3 text-gray-800">Gmail</h4>
        <p class="tech fw-medium small text-secondary">Connect Wappalyzer to the apps you use, no code required.</p>
      </div>
    </div>
    <div class="col-xl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-5">
      <div>
        <img src="../assets/s24.svg" alt="" class="h-3rem mx-0">
        <h4 class="fw-bold mt-3 text-gray-800">iPhone</h4>
        <p class="tech fw-medium small text-secondary">Wappalyzer in your pocket.</p>
      </div>
    </div>


  </div>
</div>


<hr class="mt-7">

<div class="container">
  <div class="row">
    <p class="mt-5 text-center fw-medium tech small paragraph mb-0">WAPPALYZER IS TRUSTED BY THOUSANDS OF PROFESSIONALS
      WORLD-WIDE</p>
    <img src="../assets/k-1024x77.jpg" alt="" class="w-100">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
      <div class="card">
        <div class="d-flex mt-3">
          <img src="../assets/card1.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
          <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has proven to be a great tool to help us break
            down the aggregate analysis of how the web is doing by various technologies."</p>
        </div>
        <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Ilya Grigorik</p>
        <p class="fw-medium card-1 tech text-gray-700 mt-2">Principal Engineer at Shopify</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
      <div class="card">
        <div class="d-flex mt-3">
          <img src="../assets/1516604778332.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
          <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has proven to be a great tool to help us break
            down the aggregate analysis of how the web is doing by various technologies.""</p>
        </div>
        <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Thomas Alibert</p>
        <p class="fw-medium card-1 tech text-gray-700 mt-2">Growth Engineer at PayFit</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
      <div class="card">
        <div class="d-flex mt-3">
          <img src="../assets/images (10).jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
          <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has proven to be a great tool to help us break
            down the aggregate analysis of how the web is doing by various technologies.""</p>
        </div>
        <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Michael Petselas</p>
        <p class="fw-medium card-1 tech text-gray-700 mt-2">Customer Growth Specialist at HubSpot</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
      <div class="card">
        <div class="d-flex mt-3">
          <img src="../assets/download.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
          <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer is an integral part of our sales process,
            enabling us to optimise lead segmentation at scale. It’s a total game changer for our organisation."</p>
        </div>
        <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Roman Schweiger</p>
        <p class="fw-medium card-1 tech text-gray-700 mt-2">Head of Business Development at Boomerank</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
      <div class="card">
        <div class="d-flex mt-3">
          <img src="../assets/card1.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
          <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has been such a useful part of the HTTP
            Archive dataset. It's enabled us to slice the data in new ways and discover more interesting insights about
            the state of the web.
            "</p>
        </div>
        <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Rick Viscomi</p>
        <p class="fw-medium card-1 tech text-gray-700 mt-2">Senior DevRel Engineer at Google</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
      <div class="card">
        <div class="d-flex mt-3">
          <img src="../assets/download.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
          <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer is helping our sales teams to understand
            prospects better and faster by having a clear view on their tech stack."</p>
        </div>
        <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-4">Rabin Nuchtabek</p>
        <p class="fw-medium card-1 tech text-gray-700 mt-2 mb-5">Chief Growth Engineer at Skedify</p>
      </div>
    </div>
    <div class="flex justify-content-center flex-wrap">
      <img src="../assets/summer.png" alt="" class="h-6rem w-5rem mt-5 flex align-items-center justify-content-center">
    </div>
  </div>

</div>
<hr class="mt-5">

<div class="container-fluid">
  <div class="row ">
    <p class="text-center mt-4 tech fw-medium small">Subscribe to receive occasional product updates.</p>
    <div class="flex align-items-center justify-content-center mt-2">
      <div class="input-group mb-2 tech-2 mt-2 mx-2">
        <input type="text" class="form-control text-secondary small tech" placeholder="info@example.com"
          aria-label="Search" aria-describedby="search-icon">
      </div>
      <button class="btn purple bg-gray-300 mx-1 fw-medium button">
        <i class="fa-solid fa-envelope-circle-check mx-1"></i> Subscribe
      </button>
    </div>
  </div>
</div>

<hr class="mt-5">

<div class="container">
  <div class="row">
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div>
        <p class="fw-semibold ml-5 mt-3 text-gray-700 tech small">Product</p>
        <ul>
          <li class="mt-4"><a href="#" class="text-decoration-none tech small fw-medium">Technology
              lookup</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech fw-medium small">Lead lists</a>
          </li>
          <li class="mt-3"><a href="#" class="text-decoration-none fw-medium tech small">Email
              verification</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech small fw-medium">Keyword
              search</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech small fw-medium">Website
              alerts</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none fw-medium tech small">Apps</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
      <div>
        <p class="fw-semibold ml-5 mt-3 tech small">Use cases</p>
        <ul>
          <li class="mt-4"><a href="#" class="text-decoration-none  tech small fw-medium">Lead
              generation</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech fw-medium small">Market
              research</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none fw-medium tech small">Competitor
              analysis</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech small fw-medium">Data
              enrichment</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech small fw-medium">Security
              recon</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div>
        <p class="fw-semibold ml-5 mt-3 tech small">Pricing</p>
        <ul>
          <li class="mt-4"><a href="#" class="text-decoration-none tech small fw-medium">Pricing</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
      <div>
        <p class="fw-semibold ml-5 mt-3 tech small">Resources</p>
        <ul>
          <li class="mt-4"><a href="#" class="text-decoration-none tech small fw-medium">Technologies</a>
          </li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech fw-medium small">Articles</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none fw-medium tech small">FAQs</a></li>
          <li class="mt-3"><a href="#" class="text-decoration-none tech small fw-medium">Documentaions</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 mx-4">
      <div>
        <p class="fw-semibold ml-5 mt-3 tech small">Company</p>
        <ul>
          <li class="mt-4 tech-1"><a href="#" class="text-decoration-none tech small fw-medium">About us</a></li>
          <li class="mt-3 tech-1"><a href="#" class="text-decoration-none tech fw-medium small">Logos</a></li>
          <li class="mt-3 tech-1"><a href="#" class="text-decoration-none  fw-medium tech small">Contact us</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="mt-3">

<div class="container">
  <div class="row d-flex">
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo-light (1).png" alt="" width="170" height="40" class="d-inline-block align-text-top">
      </a>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 ms-auto mt-2">
      <a class="text-green-500 small tech fw-medium text-decoration-none"><i class="fa fa-circle text-green-500" aria-hidden="true"></i> All system operation</a>
      <a href="#" class="text-decoration-none tech fw-medium small mx-4">Terms & servie</a>
      <a href="#" class="text-decoration-none  fw-medium tech small mx-2">Privacy Policy</a>

        <i class="fa-brands fa-facebook  mx-2"></i>
        <i class="fa-brands fa-instagram "></i>
        <i class="fa-brands fa-twitter  mx-2"></i>
        <i class="fa-brands fa-linkedin "></i>
     
  
  </div>
  </div>
</div>
</div>
