.tech {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tech-1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.text{
  color: #550aac;
}
.bg-purple{
  background-color: #550aac;
}
.navbar-text{
  font-size: 13px;
}
  
td{
  border-bottom: 2px solid lightgrey;
  padding: 18px;
  color: grey;
}
.text-in{
  font-size: 13px;
}
.trial{
  margin-left: 180px;
}
.trial-1{
  margin-left: 160px;
}


input::placeholder {
  color: grey;
  font-size: 15px;
  font-family: sans-serif;
}

.items {
  font-family: sans-serif;
}

.image-1 {
  border-radius: 50%;
  padding: 10px;
  background-color: lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tech {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.images-pipe {
  height: 40px;
}

.images-pipes {
  height: 30px;
  width: 50px;
}

.images-make {
  height: 45px;
}

.mail {
  height: 28px;
}

.paragraph {
  letter-spacing: 1px;
}

.card-1 {
  font-size: 12px;
  margin-left: 100px;
}

li {
  list-style: none;
}
td:nth-child(even) 
{background-color: white;
  box-shadow: 2px 2px 4px rgb(189, 184, 184);
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

td:nth-child(3){
  background-color: white;
    box-shadow: 2px 2px 5px rgb(212, 211, 211);
    text-align: center;
    font-size: 14px;

}
td:nth-child(3){
 border: 2px solid #550aac;
 border-bottom: 2px solid lightgrey;

}
.tech-2{
  width: 400px;
 }
 .table-wrapper {
  overflow-x: auto; 
  width: 100%;     
}

.fixed-width-table {
  min-width: 900px; 
}


.switch-height {
  height: 1.5em; 
  width: 3em;    
}

 @media (max-width: 992px) {
  .trial-1{
    margin-left: 0px;
  }
  .trial{
    margin-left: 0px;
  }
}
@media (max-width: 850px) {
.button{
  width: 140px;
}
tech-2{
  width: 300px;
}
}
@media (max-width: 600px) {
  .button{
    width: 150px;
  }
  tech-2{
    width: 200px;
  }
  }










































