<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item small d-flex">
                    <a class="nav-link active fw-medium tech small" aria-current="page" href="#">Home /</a><span
                        class="mt-2">Pricing</span>
                </li>
            </ul>
            <span class="navbar-text d-flex fw-medium tech">
                Want to learn more? <a class="nav-link active fw-medium text tech text-decoration-underline mx-1"
                    aria-current="page" href="#">Book a free demo</a>
            </span>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <h4 class="text-center fw-bold mt-6">Pricing</h4>
        <p class="text-center tech fw-medium small">Billing
            <span class="fw-semibold tech">Monthly</span>
        </p>
    </div>
    <table class="w-100">
        <tbody>
            <tr>
                <td>Users</td>
                <td>1</td>
                <td>5</td>
                <td>25+</td>

            </tr>
            <tr class="">
                <td>Lead list technologies </td>
                <td class="shadow-sm">2</td>
                <td class="shadow-sm">Unlimited</td>
                <td class="shadow-sm">Unlimited</td>
            </tr>
            <tr>
                <td>CRM integration</td>
                <td><i class="fa-solid fa-xmark text-danger"></i></td>
                <td><i class="fa-solid fa-xmark text-danger"></i></td>
                <td><i class="fa-solid fa-check text-success"></i></td>
            </tr>
            <tr>
                <td>API credits</td>
                <td><i class="fa-solid fa-xmark text-danger"></i></td>
                <td>20,000</td>
                <td>20,000</td>
            </tr>
            <tr>
                <td>Custom contracts, sublicensing</td>
                <td><i class="fa-solid fa-xmark text-danger"></i></td>
                <td><i class="fa-solid fa-xmark text-danger"></i></td>
                <td><i class="fa-solid fa-check text-success"></i></td>
            </tr>
            <tr>
                <td>Support</td>
                <td>Chat, email, phone</td>
                <td>Chat, email, phone</td>
                <td>Chat, email, phone</td>
            </tr>


        </tbody>
    </table>

    <div class="mt-5">
        <p class="tech text-secondary text-in mb-2 ">All plans include <a class="text-secondary" href="#">technology
                lookups</a>, <a href="" class="text-secondary">email verifications</a> and <a href=""
                class="text-secondary">website alerts</a>.<a href="" class="text-secondary">Usage quotas</a> apply.</p>
        <p class="tech text-secondary text-in mb-2 ">Plans can be cancelled at any time.</p>
        <p class="tech text-secondary text-in mb-2">API credits included in plans expire after 60 days.</p>
        <p class="tech text-secondary text-in">Prices are in United States dollars.</p>

    </div>
</div>
<hr class="mt-4 mx-8">

<div class="container">
    <div class="row">
        <div class="trial col-xl-7 col-xl-7 col-lg-7 col-md-6 col-sm-6 mt-4">
            <div class="">
                <h5 class="fw-medium tech">Free trial</h5>
                <p class="text-secondary small tech">Sign up for a free account to get 50 technology lookups every month
                    and
                    free sample lead lists.</p>
                <button class="btn bg-purple tech-1 fw-medium px-3 text-white">Sign up free</button>
            </div>
        </div>
    </div>
</div>
<hr class="mt-7 mx-8">

<div class="container">
    <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 col-sm-12">
            <h4 class=" tech trial">Frequently asked questions</h4>
            <div class="trial-1">
                <div *ngFor="let question of questions; let i = index" class="card border-0 mb-1">
                    <div class="card-body" (click)="toggleAnswer(i)" style="cursor: pointer;">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-medium tech small">{{ question.question }}</span>
                            <i class="fas fa-chevron-down text-gray-800"
                                [class.rotate]="selectedQuestionIndex === i"></i>
                        </div>
                        <div *ngIf="selectedQuestionIndex === i" class="mt-1">
                            <p class="fw-medium tech small text-gray-800">{{ question.answer }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex align-items-center justify-content-center mt-7 flex-wrap">
        <button class="btn bg-purple tech-1 fw-semibold flex align-items-center justify-content-center small text-white p-3 px-3">Book a free demo</button>
    </div>
</div>

<hr class="mt-8">


<div class="container">
    <div class="row">
      <p class="mt-5 text-center fw-medium tech small paragraph mb-0">WAPPALYZER IS TRUSTED BY THOUSANDS OF PROFESSIONALS
        WORLD-WIDE</p>
      <img src="../assets/k-1024x77.jpg" alt="" class="w-100">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <div class="d-flex mt-3">
            <img src="../assets/card1.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
            <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has proven to be a great tool to help us break
              down the aggregate analysis of how the web is doing by various technologies."</p>
          </div>
          <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Ilya Grigorik</p>
          <p class="fw-medium card-1 tech text-gray-700 mt-2">Principal Engineer at Shopify</p>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <div class="d-flex mt-3">
            <img src="../assets/1516604778332.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
            <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has proven to be a great tool to help us break
              down the aggregate analysis of how the web is doing by various technologies.""</p>
          </div>
          <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Thomas Alibert</p>
          <p class="fw-medium card-1 tech text-gray-700 mt-2">Growth Engineer at PayFit</p>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <div class="d-flex mt-3">
            <img src="../assets/images (10).jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
            <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has proven to be a great tool to help us break
              down the aggregate analysis of how the web is doing by various technologies.""</p>
          </div>
          <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Michael Petselas</p>
          <p class="fw-medium card-1 tech text-gray-700 mt-2">Customer Growth Specialist at HubSpot</p>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <div class="d-flex mt-3">
            <img src="../assets/download.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
            <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer is an integral part of our sales process,
              enabling us to optimise lead segmentation at scale. It’s a total game changer for our organisation."</p>
          </div>
          <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Roman Schweiger</p>
          <p class="fw-medium card-1 tech text-gray-700 mt-2">Head of Business Development at Boomerank</p>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <div class="d-flex mt-3">
            <img src="../assets/card1.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
            <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer has been such a useful part of the HTTP
              Archive dataset. It's enabled us to slice the data in new ways and discover more interesting insights about
              the state of the web.
              "</p>
          </div>
          <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-3">Rick Viscomi</p>
          <p class="fw-medium card-1 tech text-gray-700 mt-2">Senior DevRel Engineer at Google</p>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="card">
          <div class="d-flex mt-3">
            <img src="../assets/download.jpg" alt="" class="w-4rem h-4rem rounded-circle mx-3">
            <p class="mx-2 tech small fw-medium text-secondary">"Wappalyzer is helping our sales teams to understand
              prospects better and faster by having a clear view on their tech stack."</p>
          </div>
          <p class="fw-semibold card-1 tech text-gray-700 mb-0 mt-4">Rabin Nuchtabek</p>
          <p class="fw-medium card-1 tech text-gray-700 mt-2 mb-5">Chief Growth Engineer at Skedify</p>
        </div>
      </div>
      <div class="flex justify-content-center flex-wrap">
        <img src="../assets/summer.png" alt="" class="h-6rem w-5rem mt-5 flex align-items-center justify-content-center">
      </div>
    </div>
  
  </div>
  <hr class="mt-5">
  
  <div class="container">
    <div class="row">
      <p class="text-center mt-4 tech fw-medium small">Subscribe to receive occasional product updates.</p>
      <div class="flex align-items-center justify-content-center mt-2">
        <div class="input-group mb-2 w-24rem mt-2 mx-2">
          <input type="text" class="form-control p-2 text-secondary small tech" placeholder="info@example.com"
            aria-label="Search" aria-describedby="search-icon">
        </div>
        <button class="btn purple bg-gray-300 p-2 px-3 mx-1 fw-medium">
          <i class="fa-solid fa-envelope-circle-check mx-1"></i> Subscribe
        </button>
      </div>
    </div>
  </div>
  
  <hr class="mt-5">
  
  <div class="container">
    <div class="row">
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
        <div>
          <p class="fw-semibold ml-5 mt-3 text-gray-700 tech small">Product</p>
          <ul>
            <li class="mt-4"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Technology
                lookup</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech fw-medium small">Lead lists</a>
            </li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 fw-medium tech small">Email
                verification</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Keyword
                search</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Website
                alerts</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 fw-medium tech small">Apps</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div>
          <p class="fw-semibold ml-5 mt-3 text-gray-700 tech small">Use cases</p>
          <ul>
            <li class="mt-4"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Lead
                generation</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech fw-medium small">Market
                research</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 fw-medium tech small">Competitor
                analysis</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Data
                enrichment</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Security
                recon</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
        <div>
          <p class="fw-semibold ml-5 mt-3 text-gray-700 tech small">Pricing</p>
          <ul>
            <li class="mt-4"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Pricing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6">
        <div>
          <p class="fw-semibold ml-5 mt-3 text-gray-700 tech small">Resources</p>
          <ul>
            <li class="mt-4"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Technologies</a>
            </li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech fw-medium small">Articles</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 fw-medium tech small">FAQs</a></li>
            <li class="mt-3"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">Documentaions</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 mx-4">
        <div>
          <p class="fw-semibold ml-5 mt-3 text-gray-700 tech small">Company</p>
          <ul>
            <li class="mt-4 tech-1"><a href="#" class="text-decoration-none text-gray-800 tech small fw-medium">About us</a></li>
            <li class="mt-3 tech-1"><a href="#" class="text-decoration-none text-gray-800 tech fw-medium small">Logos</a></li>
            <li class="mt-3 tech-1"><a href="#" class="text-decoration-none text-gray-800 fw-medium tech small">Contact us</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <hr class="mt-3">
  
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-xxl-2 ol-xl-2 col-lg-2 col-md-2 col-sm-2">
        <a class="navbar-brand" href="#">
          <img src="../assets/logo-light (1).png" alt="" width="170" height="40" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="col-xxl-6 ol-xl-6 ol-lg-6 col-md-6 col-sm-12 d-flex ms-auto mt-2">
        <p class="text-green-500 small tech fw-medium"><i class="fa fa-circle text-green-500" aria-hidden="true"></i> All system operation</p>
        <li><a href="#" class="text-decoration-none text-gray-800 tech fw-medium small mx-4">Terms & servie</a></li>
        <li><a href="#" class="text-decoration-none text-gray-800 fw-medium tech small mx-2">Privacy Policy</a></li>
        <div>
          <i class="fa-brands fa-facebook text-gray-600 mx-2"></i>
          <i class="fa-brands fa-instagram text-gray-600"></i>
          <i class="fa-brands fa-twitter text-gray-600 mx-2"></i>
          <i class="fa-brands fa-linkedin text-gray-600"></i>
        </div>
      </div>
    </div>
  </div>