/* Dark mode styling for the entire app */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode a {
  color: white;
}

/* Navbar dark mode styling */
body.dark-mode p, h1,h2,a {
  /* background-color: #1e1e1e; */
  color: white;
}

/* Card dark mode styling */
body.dark-mode .card {
  background-color: #2a2a2a;
  color: #ffffff;
}

/* Additional styling for input fields, buttons, etc. */
body.dark-mode .form-control,
body.dark-mode {
  background-color: #333;
  color: #ffffff;
  border-color: #444;
}

body.dark-mode .btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}


